<% if user_signed_in? %>
  <li class="nav">
  <%= link_to('Edit registration', edit_user_registration_path, :class => 'link') %>
  </li>
<% else %>
  <li class="nav">
  <%= link_to('Register', new_user_registration_path, :class => 'link')  %>
  </li>
<% end %>